@model Contacs.Models.ShowSearchForm

@{
    ViewData["Title"] = "Create";

    Random rnd_form = new Random();
    int form_uuid = rnd_form.Next(1000, 9999);

    DateTime today = DateTime.Today;
}

<h1>Create</h1>

<h4>ShowSearchForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UUID" class="control-label"></label>
                <input asp-for="UUID" class="form-control" value="@form_uuid" readonly/>
                <span asp-validation-for="UUID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" value="@today" readonly/>
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
