<div>
    <form asp-action="ShowSearchResult">
       <div>
             <label for="SearchPhrase" class="control-label"> Konuma Göre Ara</label>
              <input name="SearchPhrase" class="form-control"/>
       </div>
       <input type="submit" value="Search" />
    </form>
</div>