@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">HOŞGELDİNİZ</h1>

    <p> Kişi eklemek için >> Kişiler</p>

    <p> Konuma göre verileri filtrelemek için >> Filtrele</p>

    <p> Rapor Sekmesi işlevsizdir</p>


</div>

